//setting
@import './setting/config';
@import './setting/color';

//foundation
@import './foundation/base';
@import './foundation/reset';

//mixin
@import './mixin/breakpoint';
@import './mixin/font';

//layout
@import './layout/header';
@import './layout/footer';
@import './layout/main';

//setting
@import './component/btn';