.l-footer {//.l-footer
    padding: 80px 80px 10px 23px;
    background-color: $main-color;
    font-family: $font-family;
    @include media-sp {
        padding: 40px 20px 30px 16px;
    }

    &-content {//.l-footer-content
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        position: relative;
        width: 100%;
        color: $sub-color;
        .company-info {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            .site-logo {
                display: inline-block;
                width: 40px;
                margin: 0 0 0 60px;
                @include media-pc {
                    transition: all ease-in-out 0.3s;
                    &:hover {
                        opacity: 0.5;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .site-nav {
                list-style: none;
                .site-nav-item {
                    display: inline-block;
                    margin: 0 0 0 13px;
                    color: $sub-color;
                    font-size: 1.6rem;
                    @include media-pc {
                        transition: all ease-in-out 0.3s;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
            .site-logo {
                margin: 0 0 0 55px;
                @include media-sp {
                    margin: 0 0 0 20px;
                }
            }
            .contact {
                margin: 0 0 0 55px;
                @include media-sp {
                    margin: 0 0 0 15px;
                }
                .vertical {
                    text-orientation: upright;
                }
            }
            .site-nav-item {
                @include media-sp {
                    font-size: 1.4rem;
                    margin: 0 0 0 3px;
                }
            }
        }
        .links {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            &::before {
                content: "";
                position: absolute;
                top: 163px;
                left: 4px;
                width: 14px;
                height: 1px;
                background-color: #fff;
            }
            .link {
                position: relative;
                color: $sub-color;
                font-size: 1.4rem;
                transition: all ease-in-out 0.3s ;
                &:last-child {
                    padding: 14px 0 0;
                }
                @include media-pc {
                    transition: all ease-in-out 0.3s ;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    &-copyright {//.l-footer-copyright
        margin: 10px 0 0;
        color: $sub-color;
        font-size: 1.0rem;
        text-align: center;
        @include media-sp {
            margin: 20px 0 0;
        }
    }
}