.l-header {//.l-header
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 60px 80px;
    background: url(/images/common/kv-pc.jpg);
    background-size:cover;
    background-position: center;
    font-family: $font-family;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    @include media-sp {
        background: url(/images/common/kv-sp.jpg);
        padding: 20px;
    }
    .site-logo {
        display: inline-block;
        width: 40px;
        margin: 0 0 0 60px;
        @include media-pc {
            transition: all ease-in-out 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .site-nav {
        list-style: none;
        .site-nav-item {
            display: inline-block;
            margin: 0 0 0 13px;
            color: $sub-color;
            font-size: 1.6rem;
            @include media-pc {
                transition: all ease-in-out 0.3s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &-online {//.l-header-online
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 30px;
        left: 40px;
        width: 68px;
        height: 257px;
        background-color: $online-color;
        @include media-sp {
            bottom: 20px;
            left: 20px;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52px;
            height: 242px;
            font-size: 1.6rem;
            color: $sub-color;
            border: 1px solid $sub-color;
        }
        @include media-pc {
            transition: all ease-in-out 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}