.site-logo {
    display: inline-block;
    width: 40px;
    margin: 0 0 0 60px;
    @include media-pc {
        transition: all ease-in-out 0.3s;
        &:hover {
            opacity: 0.5;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}
.site-nav {
    list-style: none;
    .site-nav-item {
        display: inline-block;
        margin: 0 0 0 13px;
        color: $sub-color;
        font-size: 1.6rem;
        @include media-pc {
            transition: all ease-in-out 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
